#
.idea

# terraform
.terraform*

*.tfstate*
terraform/containers.json
terraform/backend.tf

# services environment variables files
.env*
!.env.development.sample

# kubeconfig files
kube.config*
.kube.config*
kubeconfig*
.kubeconfig*
