apiVersion: v1
kind: Pod
metadata:
  name: "$K8S_SECRET"
  namespace: "$ENVIRONMENT"
spec:
  containers:
  - name: "$K8S_SECRET"
    image: nginx
    envFrom:
    - secretRef:
        name: "$K8S_SECRET"
